{% load usd_filter %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Demonstration of filters</h1>
        <!--
        <h2>{{data}}</h2>
        <h2>{{data|upper}}</h2>
        <h2>{{data|lower}}</h2>
        <h2>{{data|capfirst}}</h2>
        <h2>{{data|title}}</h2>
        <h2>{{data|length}}</h2>
        
        <h2>{{datee|date:'b D Y'}}</h2>
        
        
        <h2>{{data|truncatewords:'3'}}</h2>
        <h2>{{data|truncatechars:'3'}}</h2>
        <h2>{{data|slice:'3'}}</h2>
        
        <h2>I have {{count}} egg{{count|pluralize}}</h2>
        <h2>I have {{count}} mango{{count|pluralize:'es'}}</h2>
        <h2>This {{count}} egg{{count|pluralize}} {{count|pluralize:'is,are'}} mine</h2>
        -->

        <h2>{{data|low}}</h2>
        <h2>{{data|replace:'h'}}</h2>
        <h2>{{data|cut:'h'}}</h2>
        <h2>{{data|counting:'ho'}}</h2>
    
    </center>
</body>
</html>

<!--
variablename|filter_name:arguements
-->